<title>481 HW1</title>
  <h1>Number of Occurences Check</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <label for="input1">First Int Array:</label>
		<textarea name="input1" rows="10" cols="30"></textarea>
		<label for="input2">Second Int Array:</label>
        <textarea name="input2" rows="10" cols="30"></textarea>
		<label for="input3">Finding number:</label>
		<textarea name="input3" rows="10" cols="30"></textarea>
		<label for="input4">Occurences:</label>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
